# Node
**/node_modules/

# Env files
.env
.env.*
**/.env
**/.env.*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
.out/
.next/
.expo/
.expo-shared/
web-build/

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/

# Expo
*.expo
.expo/
.expo-shared/
.expo-settings.json

# iOS / Android native folders (if generated)
ios/
android/

# VSCode
.vscode/
*.code-workspace

# TypeScript
*.tsbuildinfo

# Others
.DS_Store
*.swp
.cache/
tmp/
temp/
coverage/

# Bun
.bun/

# SQLite (optional)
*.sqlite
*.sqlite-journal
